<div class="wrapper">
  <%= render "posts/header" %>
  <div class="know-main">
    <p>生命が誕生する確率は【25mプールにバラバラの時計の部品を投げ込んで、自然に腕時計が完成するくらい】なんて例えがあるぐらい奇跡的なこと。
    </p>
    <p>2050年までに25年間をかけて施工を予定している【宇宙エレベーター】は完成すると全長96,000km(地球と月の間の距離の4分の1相当)になる。大林組の宇宙エレベーター計画
    </p>
    <p>月は毎年3~4cmずつ地球から離れており、地球から見る月の大きさは小さくなり続けることが予想されている。
    </p>
    <p>地球の自転速度は、時速約1500km、公転速度は時速11万km(秒速29.8km)
    </p>
    <p>地球の自転速度は、少しずつ遅くなっている。これは潮の満ち引きで起こる摩擦などが原因
    </p>
    <p>宇宙について解明しているのは全体の5%にも満たず、ほとんど何もわかっていない と言われるほど、いまだに未知の存在なのです。
    </p>
    
  </div>
  <%= render "posts/footer" %>
</div>