<div class="menu">
  <div class="menu-btn">
    <%= link_to"投稿する", new_post_path, class:"post-btn" %><p>&nbsp;</p>
    <%= link_to"知る", knows_path, class:"post-btn" %><p>&nbsp;</p>
    <%= link_to"旅してみる", journeys_path, class:"post-btn" %><p>&nbsp;</p>
    <%= link_to"環境問題について考える", new_post_path, class:"post-btn" %>
  </div>
</div>