<div class="wrapper">
  <%= render "posts/header" %>
  <div class="journey-main">
    <p>宇宙に行くにはいくらかかる?<br>弾丸旅行による無重力を体験する宇宙旅行の費用は約1050万円〜3300万円。<br>ロケットによる国際宇宙ステーション滞在型の宇宙旅行の費用は約22億円。
    </p>
    <p>太陽系には、地球を含めて8個の惑星が存在します。太陽から近い順に水星、金星、地球、火星、木星、土星、天王星、海王星の順に並んでいます。
    </p>
    <%# <img src="/assets/惑星.jpg" alt="惑星"> %>
    <div class="img"></div>
    <p>水星は、太陽に1番近く、1番小さな惑星。
    </p>
    <p>金星は太陽から2番目の惑星。地球と大きさ、重さがほとんど同じ兄弟惑星です。一番星としてよく見ることがある。
    </p>
    <p>地球は太陽から3番目の第3惑星。この惑星には豊富な水と大気があり、そこに多様な生命体が生息する。
    </p>
    <p>火星は太陽から4番目の惑星、大きさは地球の約半分、重さは1/10です。
    </p>
    <p>木星は太陽から5番目の惑星。大半がガスと液体の金属でできている。大きさは地球の11倍ほどある。
    </p>
  </div>
  <%= render "posts/footer" %>
</div>